{{ define "main" }}

<article id="archive">
  {{ $mainSections := .Site.Params.mainSections | default (slice "posts") }}
  {{ $pages := where .Site.RegularPages "Type" "in" $mainSections }}
  {{ if not .Site.Params.showAllPostsArchive }}
    {{ $pages = (.Paginate $pages).Pages }}
  {{ end }}

  {{ $pages = $pages.ByDate.Reverse }}

  <ul class="post-list">
    {{ range $pages }}
      {{ $pageYear := (.Date.Format "2006") }}
      {{ if (ne $pageYear ($.Scratch.Get "year")) }}
        {{ $.Scratch.Set "year" $pageYear }}
        <h2>{{ $pageYear }}</h2>
      {{ end }}
      <li class="post-item">
        <div class="meta">
          <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}' itemprop="datePublished">
            {{ .Date.Format (.Site.Params.dateFormat | default "2006-01-02") }}
          </time>
        </div>
        <span>
          <a href="{{ .RelPermalink }}">
            {{- if .Title }} {{ .Title }} {{ else }} Untitled {{ end -}}
          </a>
        </span>
      </li>
    {{ end }}
  </ul>

  {{ if not .Site.Params.showAllPostsArchive }}
      {{ template "_internal/pagination.html" . }}
  {{ end }}

</article>

{{ end }}
