<meta name="description" content="{{ partial "head/description.html" . }}">

{{- if eq .Kind "404" }}
    <meta name="robots" content="noindex,nofollow">
    <meta name="referrer" content="no-referrer">
{{ else }}
    {{- if and site.Config.Privacy.GoogleAnalytics.Disable site.Params.Privacy.GoogleTagManager.Disable }}
        <meta name="referrer" content="no-referrer">
    {{- end }}

    <meta name="keywords" content="{{ partial "head/keywords.html" . }}">
    {{ with partial "head/author.html" . }}
        <meta name="author" content="{{ . }}">
    {{- end }}
{{- end -}}
