{{- if eq .Kind "404" }}
    <meta name="robots" content="noindex,nofollow">
    <meta name="referrer" content="no-referrer">
{{ else }}
    {{- if and site.Config.Privacy.GoogleAnalytics.Disable site.Params.Privacy.GoogleTagManager.Disable }}
        <meta name="referrer" content="no-referrer">
    {{- end }}

    <meta name="description" content="{{ partial "head/description.html" . }}">
    <meta name="keywords" content="{{ partial "head/keywords.html" . }}">

    <link rel="canonical" href="{{ .Permalink }}">
    {{ if and (eq .Kind "section") .Paginator }}
        {{ if .Paginator.HasPrev }}
            <link rel="prev" href="{{ .Paginator.Prev.URL | absURL }}">
        {{ end }}
        {{ if .Paginator.HasNext }}
            <link rel="next" href="{{ .Paginator.Next.URL | absURL }}">
        {{ end }}
    {{ else }}
        {{- if .PrevInSection -}}
            <link rel="prev" href="{{ .PrevInSection.Permalink | absURL }}" />
        {{- end -}}
        {{- if .NextInSection -}}
            <link rel="next" href="{{ .NextInSection.Permalink | absURL }}" />
        {{- end -}}
    {{ end }}

    {{ with partial "head/author.html" . }}
        <meta name="author" content="{{ . }}">
    {{- end }}
{{- end -}}
