@mixin antialias() {
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}

@mixin hyphens($value) {
  -webkit-hyphens: $value;
     -moz-hyphens: $value;
      -ms-hyphens: $value;
          hyphens: $value;
}

@mixin underline($size, $color) {
  background-image: linear-gradient(transparent, transparent $size, $color $size, $color);
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}

@mixin text-size-adjust($value) {
  -webkit-text-size-adjust: $value;
      -ms-text-size-adjust: $value;
          text-size-adjust: $value;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  Transitions
// Usage: @include transition(color .3s ease);

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Border Radius
//
// Usage: @include border-radius(10% 30% 50% 70%);

@mixin border-radius ($args...) {
  -webkit-border-radius: $args;
     -moz-border-radius: $args;
          border-radius: $args;
}
