<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ partial "head/title.html" . }}</title>

    {{ partial "head/seo.html" . }}
    {{ if ne .Kind "404" }}
        {{ template "_internal/opengraph.html" . }}
        {{ template "_internal/twitter_cards.html" . }}
        <link rel="canonical" href="{{ .Permalink }}">
    {{ end }}

    {{ partial "head/css.html" . }}
    {{ partial "head/icons.html" . }}

    <link rel="manifest" type="application/manifest+json" href="{{ "manifest.webmanifest" | relURL }}" title="Manifest">
    {{ range .AlternativeOutputFormats -}}
        <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{site.Title | safeHTML}}">
    {{ end }}


    {{ partial "head/js.html" . }}
    {{ partial "head/analytics.html" . }}
</head>
