<ul>
  {{ $icon_class_name := .Scratch.Get "icon_class_name"}}
  {{ $description := (partial "head/description.html" .) }}
  <li>
    <a class="icon facebook-share-link"
       href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
       target="_blank"
       rel="nofollow noopener noreferrer"
       aria-label="Facebook">
      <i class="fab fa-facebook {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon x-share-link"
       href="https://x.com/intent/tweet?&hashtags={{ delimit .Params.tags `,` }}&url={{ .Permalink }}&text={{ .Title }}"
       target="_blank"
       rel="nofollow noopener noreferrer"
       aria-label="Twitter">
      <i class="fab fa-twitter {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon linkedin-share-link"
       href="https://www.linkedin.com/shareArticle?url={{ .Permalink }}&title={{ .Title }}"
       target="_blank"
       rel="nofollow noopener noreferrer"
       aria-label="LinkedIn">
      <i class="fab fa-linkedin {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
{{/*  <li>*/}}
{{/*    <a class="icon" href="https://pinterest.com/pin/create/bookmarklet/?url={{ .Permalink }}&is_video=false&description={{ .Title }}" aria-label="Pinterest">*/}}
{{/*      <i class="fab fa-pinterest {{ $icon_class_name }}" aria-hidden="true"></i>*/}}
{{/*    </a>*/}}
{{/*  </li>*/}}
  <li>
    <a class="icon mailto-share-link"
       href="mailto:?subject={{ .Title }}&body=Check out this article: {{ .Permalink }}"
       target="_blank"
       rel="nofollow noopener noreferrer"
       aria-label="Email">
      <i class="fas fa-envelope {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
{{/*  <li>*/}}
{{/*    <a class="icon" href="https://getpocket.com/save?url={{ .Permalink }}&title={{ .Title }}" aria-label="Pocket">*/}}
{{/*      <i class="fab fa-get-pocket {{ $icon_class_name }}" aria-hidden="true"></i>*/}}
{{/*    </a>*/}}
{{/*  </li>*/}}
  <li>
    <a class="icon reddit-share-link"
       href="https://new.reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}"
       target="_blank"
       rel="nofollow noopener noreferrer"
       aria-label="reddit">
      <i class="fab fa-reddit {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
{{/*  <li>*/}}
{{/*    <a class="icon" href="https://www.tumblr.com/share/link?url={{ .Permalink }}&name={{ .Title }}&description={{ $description }}" aria-label="Tumblr">*/}}
{{/*      <i class="fab fa-tumblr {{ $icon_class_name }}" aria-hidden="true"></i>*/}}
{{/*    </a>*/}}
{{/*  </li>*/}}
  <li>
    <a class="icon ycombinator-share-link"
       href="https://news.ycombinator.com/submitlink?u={{ .Permalink }}&t={{ .Title }}"
       target="_blank"
       rel="nofollow noopener noreferrer"
       aria-label="Hacker News">
      <i class="fab fa-hacker-news {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
</ul>
